body {
    margin: 0;
}
h1 {
    margin: 0;
}
.LH {
    width: 100%;
    height: 30pc;
    margin-top: 10px;
}
.isect1 {
    background-color: #f2f2f2;
    height: 300px;
    margin-top: -10px;
}
.Logo {
   margin-top: 30px;
}
.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img {
    max-width: 60%
}
.title {
text-align: center;
flex-wrap: wrap;
}
.title i {
    color: black;
    width: 30px;
    align-self: self-start;
}
h1 {
    font-style: italic;
    font-weight: 900;
    font-size: 50px;
    padding-top: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
}
h1 i {
    margin-left: 50%;
}
.content {
    background-color: #eee;
    margin-top: -110px;
    z-index: 1;
    position: relative;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    padding-inline: 50px;
    padding-bottom: 25px;
}
.index-title {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    padding-block-start: 5%;
}
.idiv1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: gainsboro;
    border: 1px solid #f2f2f2;
    height: 45px;
    border-top: 3px solid #ccc;
}
.iform1 {
    margin-block-start: 15px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    
}
.iform1 i {
   margin-right: 20px;
}
.ih1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    margin-top: 20px;
    font-size: 150%;
}
.ih2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    width: 90%;
    margin-left: 5%;
}

.ih3 {
    border-radius: 15px;
    width: 400px;
    margin-left: 400px;
    border-width: medium;
    height: 50px;
    background-color: magenta;
    text-align: center;
}
.ih4 {
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.if {
    margin-top: 17px;
    width: 88%;
    height: 50px;
    display: flex;
    text-align: center;
    border-radius: 15px; 
    border: 1px solid #f2f2f2;
    margin-left: 6%;
    background-color: #f2f2f2;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;  
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.if i {
   margin-right: 20px;
   text-align: center;
   margin-inline-start: 40px;  
}
.ih4 {
    margin-inline-start: 5%;
    margin-bottom: 25px;
    margin-top: 0;
}
.ipic {
    width: 90%;
    display: block;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.ipic2 {
    width: 90%;
    margin-inline-start: 0;
    margin-top: -20px;
    margin-bottom: -20px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    height: 300px;
}
.ipic4 {
    width: 107%;
    margin-inline-start: -6%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
footer {
    background-color: black;
    color: #f2f2f2;
    height: 300px;
}
.ilogo {
    height: 20px;
    margin-block-start: 30px;
}
.footer {
    padding-block-start: 30px;
    color: #f2f2f2;
    font-style: italic;
    font-family: math;
    font-weight: bold;
    margin-inline-start: 30px;
    margin-block-start: 30px;  
    font-size: 25px;
    margin-top: 0;
}
.order {
    margin-top: 40px;
    width: 50%;
    height: 50px;
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 50px; 
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(#FF79DA, #9356DC);
    color: #f2f2f2;
    border: none;
    max-width: 100%;
    margin-bottom: 0px;
}
.JW {
    width: 100%;
    height: 30pc;
    margin-top: 10px;
}

@keyframes swipeIn {
    from {
        opacity: 0;
        padding-top: 20px;
    }
    to {
        opacity: 1;
        padding: 0;
    }
}

.entrees {
    opacity: 0;
    padding-top: 20px;
    animation: swipeIn 2s;
    animation-fill-mode: forwards;
}

.mains {
    opacity: 0;
    padding-top: 20px;
    animation: swipeIn 2s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}
.options {
    border: 1px solid white;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    margin-bottom: 20px;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px;
    padding-inline-start: 5px;
    padding-block-start: 10px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
h5 {
    font-weight: lighter;
    display: flex;
    justify-content: space-between;
    margin-inline-end: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
h2 {
    padding-top: 10px;
    margin-bottom: 30px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}
h1 {
    margin-left: 5px;
}
button {
    width: 40%;
    margin-bottom: 40px;
}
h6 {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding-inline-start: 20px;
    font-weight: 500;
}
h6 i {
    margin-right: 10px;
}
.checkmark {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99e2d0;
    margin-top: -10px;
    width: 50px;
    width: 0;
    overflow: hidden;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.titlecont {
    display: flex;
    justify-content: space-between;
}
.titlecont i {
    display: flex;
    align-items: center;
    margin-block-end: -35px;
}
 @keyframes greencheck {
    from {width: 0;}
    to {width: 50px;
    min-width: 50px;}
 }
 .options:hover .checkmark 
 {animation: greencheck 2s;
 animation-fill-mode: forwards; }
 .O1 {
    flex-grow: 1;
 }
 .options:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    display: flex;
    justify-content: space-between;
 }

 .ih5 {
    font-weight: 700;
 }
.isect3 {
    padding-top: -20px;
    background-color: #f2f2f2;
 }
 .irp4 {
    margin-inline-start: 10%;
    margin-inline-end: 10%;
    position: relative;
    padding-bottom: 35px;
 }
.ih5div {
    margin-inline-start: 5%;
    position: relative;
 }
.irpara {
    position: relative;
    z-index: 1;
    margin-top: 0px;
    border: 1px solid white;
    background-color: white;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    box-sizing: border-box;
    width: 90%;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 15px;
    margin-bottom: 35px;
    font-size: smaller;
    padding-left: 10px;
}
.irparasub {
    font-weight: 400;
    padding-top: 15px;
    font-size: smaller;
    padding-inline-start: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 10px 5px 0;
}
.ipic3 {
    width: 90%;
    display: block;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;   
}
.irpara2 {
    position: relative;
    z-index: 1;
    border: 1px solid white;
    background-color: white;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 90%;
    box-sizing: border-box;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 15px;
    margin-bottom: 35px;
    font-size: smaller;
    padding-inline-start: 10px;
}
.ih5div2 {
    margin-inline-start: 5%;
    padding-top: 15px;
    position: relative;
}
.irpara4 {
    margin-top: -4px;
    border: 1px solid white;
    background-color: white;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 107%;
    box-sizing: border-box;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 15px;
    font-size: smaller;
    padding-inline-start: 10px;
    margin-left: -6%;
}
.New {
 position: absolute;
 top: 10px;
 right: 15%;
 border: 1px solid #99e2d0;
 background-color: #99e2d0;
 border-width: 0px;
 height: 25px;
 width: 60px;
 text-align: center;
}
.if:hover {
    background-color: #b8deff;
    border-color: #b8deff;
}
.if:hover i {
    color: #9356DC;
}
.transformed {
    position: absolute;
    opacity: 0;
    transform: scale(0);
    transition: all 0.6s;
    top: 0;
    left: 0;
}
.logo i {
    margin-top: 25px;
}
.heart-container {
    position: relative;
    display: inline-block;
    margin-top: -10px;
    margin-bottom: 10px;
}

.heart-container>* {
    border: black;
}
@media only screen and (min-width: 768px) {
    h1 {
        background-color: blue;
        opacity: 0.7;
        animation: swipeIn 4s;
        animation-fill-mode: forwards;
    }
    .section { background-color: white;
        animation: swipeIn 5s;
        
 }

.heart-container:hover .transformed {
    opacity: 1;
    transform: scale(1);
    background: linear-gradient(#FF79DA, #9356DC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.circlenumb {
    margin-left: -20px;
    border-radius: 100%;
    background-color: #9356DC;
    width: 25px;
    height: 25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.isect3 a {
    text-decoration: none;
    color: black;
}
@keyframes fade {
from {
 opacity: 0;
 transform: translateY(-20px);
}
to {
opacity: 1;
transform: translateY(0);
}
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .spinner {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9d71d6;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    animation: hide-spin 0.0O1s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    z-index: 3;
} 
@keyframes hide-spin {
    from {
        top: 0;
    }
    to {
        top: -100%;
    }
}
.New.New2 {
    right: 5%;
}
@keyframes menu-in {
  from { opacity: 0;
        transform: translateY(20px);}
  to {opacity: 1;
    transform: translateY(0px);}
}
.options {
    animation: menu-in 3s;
    opacity: 0;
    transform: translateY(20px);
    animation-fill-mode: forwards;
}
.opt2 {
    animation-delay: 1.5s;
}
.opt3 {
    animation-delay: 2.5s;
}
.options:hover .O1 {
    flex: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: calc(100% - 50px);
    overflow: hidden;
}
.options:hover h5 span:first-child {
    text-overflow: ellipsis;
    max-width: calc(100% - 80px);
    overflow: hidden;
}